<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px grid">
        <mat-form-field fxFlex="65" fxFlex.xs="100">
            <mat-label>Descrição</mat-label>
            <input type="text" [formControlName]="'descricao'" matInput>
            <div *ngIf="isFieldValid(descricao)">
                <mat-error *ngIf="descricao.hasError('required')">Descrição is required</mat-error>
                <mat-error *ngIf="descricao.hasError('maxlength')">Descrição max must be 100</mat-error>
            </div>
        </mat-form-field>

        <mat-form-field *ngIf="dataValidade as field" fxFlex="35" fxFlex.xs="100">
            <mat-label>Data Validade</mat-label>
            <input 
                [formControlName]="'dataValidade'"
                [matDatepicker]="picker"
                matInput
            >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            <div *ngIf="isFieldValid(field)">
                <mat-error *ngIf="dataValidade.hasError('requilared')">Data Validade is required</mat-error>
                <mat-error *ngIf="dataValidade.hasError('matDatepickerParse')">Data Errada (dd/mm/yyyy) is required</mat-error>
            </div>
        </mat-form-field>
        <pre>{{ dataValidade?.errors | json }}</pre>

        <!-- <mat-form-field fxFlex="30" fxFlex.xs="100">
            <mat-label>Data Validade</mat-label>
            <input 
                [formControlName]="'dataValidade'"
                matInput
                [mask]="'d0/M0/0000'"
                [leadZeroDateTime]="true"
                [showMaskTyped]="false"
                [dropSpecialCharacters]="false"
            >
            <div *ngIf="isFieldValid(dataValidade)">
                <mat-error *ngIf="dataValidade.hasError('required')">Data Validade is required</mat-error>
                <mat-error *ngIf="dataValidade.hasError('mask')">Data 123213 is required</mat-error>
            </div>
        </mat-form-field> -->
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px grid">
        <mat-form-field fxFlex="30" fxFlex.xs="100">
            <mat-label>Investimento Mínimo</mat-label>
            <input type="text" [formControlName]="'investimentoMinimo'" matInput>
            <div *ngIf="isFieldValid(investimentoMinimo)">
                <mat-error *ngIf="investimentoMinimo.hasError('required')">Investimento Mínimo is required</mat-error>
            </div>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxFlex.xs="100">
            <mat-label>Tipo Produto</mat-label>
            <mat-select [formControlName]="'tipoProdutoId'">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let produto of tipoProduto; let produtoIndex = index" [value]="produto.id">{{ produto.nome }}</mat-option>
            </mat-select>
            <div *ngIf="isFieldValid(tipoProdutoId)">
                <mat-error *ngIf="tipoProdutoId.hasError('required')">Tipo Produto is required</mat-error>
            </div>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxFlex.xs="100">
            <mat-label>Indexador</mat-label>
            <mat-select [formControlName]="'indexadorId'">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let indexador of indexadores; let indexadorIndex = index" [value]="indexador.id">{{ indexador.nome }}</mat-option>
            </mat-select>
            <div *ngIf="isFieldValid(indexadorId)">
                <mat-error *ngIf="indexadorId.hasError('required')">Indexador is required</mat-error>
            </div>
        </mat-form-field>
    </div>

    <div fxLayout fxLayoutGap="5px">
        <button type="button" mat-raised-button color="basic" (click)="btnVoltar()">
            Voltar
        </button>
        <button 
            type="submit"
            mat-raised-button
            color="warn"
            [disabled]="f.invalid || spinner.tipoProduto || spinner.rendaFixa || spinner.indexador || spinner.create || spinner.save"
        >
            {{ isEdit === true ? 'Salvar' : 'Criar' }}
            <mat-icon *ngIf="spinner.tipoProduto || spinner.rendaFixa || spinner.indexador || spinner.create || spinner.save">
                <mat-spinner diameter="18"></mat-spinner>
            </mat-icon> 
        </button>
    </div>
</form>