<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px grid" class="mb-3">
        <mat-form-field fxFlex="65" fxFlex.xs="100">
            <mat-label>Descrição</mat-label>
            <input type="text" [formControlName]="'descricao'" matInput>
            <mat-error *ngIf="isFieldValid(descricao) && descricao.hasError('required')">Descrição is required</mat-error>
            <mat-error *ngIf="isFieldValid(descricao) && descricao.hasError('maxlength')">Descrição max must be 100</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxFlex.xs="100">
            <mat-label>Data Validade</mat-label>
            <input 
                [formControlName]="'dataValidade'"
                [matDatepicker]="picker"
                matInput
            >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            <mat-error *ngIf="isFieldValid(dataValidade) && dataValidade.hasError('required')">Data Validade is required</mat-error>
            <mat-error *ngIf="isFieldValid(dataValidade) && dataValidade.hasError('matDatepickerParse')">Data Errada (dd/mm/yyyy) is required</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px grid" class="mb-3">
        <mat-form-field fxFlex="30" fxFlex.xs="100">
            <mat-label>Investimento Mínimo</mat-label>
            <input type="text" [formControlName]="'investimentoMinimo'" matInput>
            <mat-error *ngIf="isFieldValid(investimentoMinimo) && investimentoMinimo.hasError('required')">Investimento Mínimo is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxFlex.xs="100">
            <p *ngIf="spinner.tipoProduto">Loading ...</p>

            <mat-label>Tipo Produto</mat-label>
            <mat-select [formControlName]="'tipoProdutoId'">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let produto of tipoProduto; let produtoIndex = index" [value]="produto.id">{{ produto.nome }}</mat-option>
            </mat-select>
            <mat-error *ngIf="isFieldValid(tipoProdutoId) && tipoProdutoId.hasError('required')">Tipo Produto is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxFlex.xs="100">
            <p *ngIf="spinner.indexador">Loading ...</p>

            <mat-label>Indexador</mat-label>
            <mat-select [formControlName]="'indexadorId'">
                <mat-option value="">Select</mat-option>
                <mat-option 
                    *ngFor="let indexador of indexadores; let indexadorIndex = index" 
                    [value]="indexador.id"
                >
                    {{ indexador.nome }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="isFieldValid(indexadorId) && indexadorId.hasError('required')">Indexador is required</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout fxLayoutGap="5px" class="mb-3">
        <button type="button" mat-raised-button color="basic" (click)="btnVoltar()">
            Voltar
        </button>
        <button 
            type="submit"
            mat-raised-button
            color="warn"
            [disabled]="f.invalid || spinner.tipoProduto || spinner.rendaFixa || spinner.indexador || spinner.create || spinner.save"
        >
            {{ isEdit === true ? 'Salvar' : 'Criar' }}
            <mat-icon *ngIf="spinner.tipoProduto || spinner.rendaFixa || spinner.indexador || spinner.create || spinner.save">
                <mat-spinner diameter="18"></mat-spinner>
            </mat-icon> 
        </button>
    </div>
</form>